body{
    background-color: black;
}

button{
    font-family: monospace;
    font-size: x-large;  
    text-decoration: underline;
}

.dice{
    border: medium inset;
    border-radius: 20px;
    box-shadow: 10px 10px 8px #888888;
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    float: left;
    font-family: monospace;
    font-size: xx-large;
    text-shadow: 2px 2px 4px #000000;
    margin: 10px;
}

#dieDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#btnContainer{
    display: flex;
    justify-content: space-between;
    padding-left: 350px;
    padding-right: 350px;
    margin-top: 10px;
}